<div class="container">
    <div class="d-flex justify-content-between selection-tab align-items-end">
        <div> <span class="product-count"> Total Products: {{totalRecords}}</span> </div>
        <div>
            <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                <ng-template #item let-item>
                    <i class="fas " [ngClass]="{ 'fa-bars': item === 'list', 'fa-table': item === 'grid' }"></i>
                </ng-template>
            </p-selectbutton>
        </div>
    </div>
    @if (isGridView() && productList.length > 0) {
    <app-product-grid-view [allProducts]="productList" (productItemId)="navigateById($event)"></app-product-grid-view>
    } @else {
    <app-prouct-list-view [allProducts]="productList" (productItemId)="navigateById($event)"></app-prouct-list-view>
    }

    <div class="mb-4">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="skip" [rows]="limit" appendTo="body" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="paginationPageOption" />
    </div>

</div>