<div class="container">
    <div class="d-flex justify-content-between selection-tab align-items-end">
        <div> <span class="product-count"> Total Products: 10</span> </div>
        <div>
            <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                <ng-template #item let-item>
                    <i class="fas " [ngClass]="{ 'fa-bars': item === 'list', 'fa-table': item === 'grid' }"></i>
                </ng-template>
            </p-selectbutton>
        </div>
    </div>
    @if (isGridView()) {
<app-product-grid-view></app-product-grid-view>
} @else {
<app-prouct-list-view></app-prouct-list-view>
}
</div>
