<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center cart-header-bar">
                <div class="d-flex align-items-center gap-3">
                    <input type="checkbox" name="" id="" (change)="selectAllItems($event)" [value]="false" >
                    <div class="text-black-50 fw-semibold cart-title">SELECT ALL ({{groupedCartItemsArray().length}}
                        ITEM{{ groupedCartItemsArray().length>1?'(S)':''}})</div>
                </div>
                <div  (click)="deleteAllItems()" class="cursor-pointer">
                    <i class="fas fa-trash trash-icon"></i> <span
                        class="text-black-50 cart-title fw-semibold">DELETE</span>
                </div>
            </div>

            @for (item of groupedCartItemsArray(); track  $groupIndex ) {
            <div class="cart-items">
                <div class="d-flex gap-4 ">
                    <input type="checkbox" name="" id="" [(ngModel)]="item.isSelected" [ngModelOptions]="{standalone:true}" (ngModelChange)="checkboxChange()">
                    <div>
                        <i class="fas fa-box-archive pe-2"></i> <span class="">{{item.brand}}</span>
                    </div>
                </div>
                <hr>
                @for (subItem of item.items; track $index) {
                <div class="row">
                    <div class="col-md-7">
                        <div class="d-flex align-items-center">
                            <div class="pe-3">
                                <input type="checkbox" name="" id="" [(ngModel)]="item.isSelected" [ngModelOptions]="{standalone:true}" (ngModelChange)="checkboxChange()">
                            </div>
                            <div>
                                <img [src]="subItem.thumbnail" alt="">
                            </div>
                            <div class="ps-3">
                                <div class="fs-6 fw-semibold">{{subItem.title}}</div>
                                <div class="text-black-50 cart-sub-text">{{subItem.description}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="d-flex flex-column">
                            <div class="text-heading">{{subItem.totalPrice |currency:'USD'}}</div>
                            <div class="original-price">{{subItem.discountPercentage}}</div>
                            <div class="d-flex gap-1 mt-2 cursor-pointer">
                                <i class="fas fa-heart"></i>
                                <i class="fas fa-trash" (click)="deleteSubItem()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mt-3">
                            <p-inputnumber [(ngModel)]="subItem.quantity" [showButtons]="true" buttonLayout="horizontal"
                                inputId="horizontal" spinnerMode="horizontal" [step]="1" [min]="1" [max]="10" (onInput)="quantityChange(subItem)">
                                <ng-template #incrementbuttonicon>
                                    <span class="fas fa-plus" ></span>
                                </ng-template>
                                <ng-template #decrementbuttonicon>
                                    <span class="fas fa-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                        </div>

                    </div>

                </div>
                }
            </div>
            }

        </div>
        <div class="col-md-4 cart-address-summary">
            <div class="text-black-50">Location</div>
            <div class="d-flex justify-content-between mt-3">
                <div><i class="fas fa-map-marker"></i></div>
                <div>Deliver to 8 Christopher St</div>
            </div>
            <hr>

            <div class="fs-5 fw-semibold">Order Summary</div>
            <div class="d-flex mt-3 justify-content-between">
                <div class="text-black-50">Subtotal (0 items)</div>
                <div class="fw-semibold">{{calculatedAmountSummary.subTotalAmount |currency:'USD' }}</div>
            </div>
            <div class="d-flex mt-3 justify-content-between">
                <div class="text-black-50">Shipping Fee </div>
                <div class="fw-semibold">{{calculatedAmountSummary.shippingAmount |currency:'USD' }}</div>
            </div>

            <div class="d-flex mt-3 p-3 gap-3">
                <div class="w-100">
                    <input type="text" class="form-control" placeholder="Enter Coupon Code">
                </div>
                <div>
                    <button type="button" class="apply-btn">APPLY</button>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div class="fw-semibold">Total</div>
                <div>{{calculatedAmountSummary.totalAmount|currency:'USD' }}</div>
            </div>


            <div class="mt-3">
                <button type="button" class="proceed-btn" routerLink="/checkout" >PROCEED TO CHECKOUT</button>
            </div>
        </div>
    </div>