<div class="product-grid">
    @for (item of allProducts(); track item.id) {
        <div class="product-card">
            <div class="product-image">
                <div class="promotional-badge">Daraz Mall</div>
                <div class="h-100">
                     <img [src]="item.thumbnail" alt="Produuct image">
                </div>
            </div>
            <div class="product-info">
                <div class="product-title">{{item.title}}</div>
                <div class="product-price">{{item.price | currency:'USD'}}</div>
                <div class="discount-save">Discount {{item.discountPercentage}}%</div>
                <div class="product-meta">
                    <span class="product-origin">{{item.brand}}</span>
                </div>
            </div>
        </div>
    }
</div>
